
body{
    margin: 0;
    padding: 0;
   
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #11164B;
    z-index: 1;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.top-header, .navbar ul li a {
    display: block;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    float:left;
    height: 20px;
    justify-content: center;
}
.top-header{
    background-color: white;
    color: #000;
}
.navbar li a:hover{
    background-color: #252c77;
}


#about{
    background-color: #ececec;
    padding: 3rem;
    margin: 0;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
.bio{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    border:2px solid ;
    margin: 2rem 2rem 2rem 0;
}
#about h1 {
    text-align: center;
}
#about ul{
    list-style-type: none;
}
#media{
    background-color: #fff;
}
#media figure{
    padding: 20px;
    margin: 10px;
    text-align: center;
}
#media h1{
    text-align: center;
    display: block;
    background-color: #11164B;
    color: #FFF;
    padding: 40px;
}
#media figure video{
   width: 70%;
   height: auto;
   text-align: center;
}

.galler-container{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color:#11164B;
    margin-bottom: 0;    
}
.gellery-h1{
    text-align: center;
    color: #fff;
    padding-bottom: 15px;
}
.gallery{
    margin: 10px 50px;
    
}
.gallery img{
    width: 330;
    height: 210px;
    padding: 10px;
    filter:grayscale(50%);
    transition: 1s;
    text-align: center;
}
.gallery img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}

.contact-header{
    background-color: white;
    text-align: center;
    padding: 2rem;
}
#contactUs{
    background-color:  #ececec;
    margin-top: 2rem;
    padding-bottom: 2rem;
}
#contactUs form{
    justify-content: center;
    display: flex;
}
.contact-header, hr{
    font-size: larger;
    color:#000;
}
.contact-header{
    padding-top: 1rem;
}
.contact__fieldset{
    border: none;
    max-width: 200px;
    padding: 2rem;
}
.contact-label{
    display: block;
    font-weight: bold;
}
.contact-input,.contact-textarea{
    padding: 0.8em;
    border: none;
    border-radius: 10px;
    border-width: 2px;
    width: 140%;
}

.contact-button{
    padding: 1rem;
    margin-top: 1rem;
    width: 140px;
    background-color: white;
    border-radius: 50px;
    border: none;
   
}
.contact-button:hover{
    background-color:  #e7e7e7;
}
.footer .footer-content{
    background-color: #11164B;
    color: #FFF;
    text-align: center;
    padding: 10px;
    height: 100px;
}
.social a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 20px;
    transition: 1s;
}
.social a img:hover{
    transform: scale(1.1);
}

.clock{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
    color: #000;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 2px;
    z-index: 1;
    background-color: #FFF;
  
}
